// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-style {
	margin-left: 38%;
}

.import-text {
	margin-left: 30%;
}

.import-form {
	margin-left: 30%;
}

.new-user-btn {
    margin-left: 13%;
    margin-top: 5%;

}